* {
  margin: 0; padding: 0;
  font-family: minion-pro;


}

body{
background-color: black;
color: white;
}



.logo a{

  color: black;
  text-decoration: none;
  font-size: 30px;


}

.logo {
  margin-top: 5px;
  height: 30px;
  width: auto;
}


#cover {
  background-color: white;
  min-height: none;


}

#pride-alliance .podcast-container{
  margin: auto;
padding-top: 40px;
padding-bottom: 40px;
  width: 50%;
}

#pride-alliance{

  min-height: 70vh;

  background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

}

#pride-alliance p {
  font-family: 'Noto Sans';
}

#pride-alliance .text {
 width: 50%;
 margin: auto;
 padding-top: 40px;
}



#pride-alliance h1 {
  font-family: 'Noto Sans';
}

#cover img{
  width: 100%;
  vertical-align: bottom
}


#berube {

}
#berube .page{
  width: 1000;

}

#berube .page p{
  font-family: 'Noto Sans';
  text-align: left;
  width: 90%;
  margin-left: auto;
}
#berube .page h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 70%;
  line-height: 30px;
  font-family: 'Noto Sans';
}
#letterfromed{

background-color: #353839;
}

#letterfromed .text{
  padding-top: 10%;
  width: 70%;
  margin: auto;

}

#letterfromed p {
  padding-bottom: 30px ;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Noto Sans' !important;



  }

  #puzzle {
    background-color: white;
  }
  #letterfromed h1 {

    font-family: 'franklin-gothic-urw-cond';
    font-size: 80px;

    letter-spacing: 4px;

    line-height: 70px;

    }

    #letterfromed .byline {

     font-weight: 1000;

      }

    #letterfromed .intro {
        display: flex;

        width: 100%;
        margin-bottom: 30px;
      }



      #letterfromed img{
        width: 60%;
        padding-left: 3%;

        object-fit: contain;

      }


#griffin a{
color: #9d16ac;
text-decoration: none;
}

#griffin a:hover{
text-decoration:underline;
}


#griffin .text{
width: 70%;
margin: auto;
font-family: 'minion-pro';
}

#griffin p {
padding-bottom: 30px ;
font-size: 20px;
line-height: 30px;
}

#griffin .media-embed {
margin-left: auto;
margin-right: auto;
width: 100%;

}

#griffin h1{
padding-bottom: 30px;
}

#griffin .headline {
font-size: 60px;
line-height: 55px;
padding-bottom: 10px;
}

#griffin .overline {
font-family: 'franklin-gothic-urw';
padding-bottom: 0%;
padding-top: 20%;

}


#griffin .caption {
text-align: right;
font-family: 'franklin-gothic-urw';
font-size: 15px;
}



.section {
min-height: 100vh;
background-color: black;

}

#howWhole {
font-family: 'Peddana', serif;
font-size: 20px;
background-color: #3b0404; /* For browsers that do not support gradients */
background-image: linear-gradient(to bottom right, #3b0404, #000000);
padding-top: 30px;
padding-bottom: 30px;
}

#howWholeContent {
width: 70%;
margin: auto;
}

.stars {
margin: auto;
background: none;
overflow: hidden;
display: block;
font-family: 'Anton', sans-serif;
justify-content: center;
align-items: center;
height: 100%;
}
.night {
position: relative;
width: 100%;
height: 100%;
transform: rotateZ(45deg);
}
.shooting_star {
position: absolute;
left: 50%;
top: 50%;
height: 2px;
background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
border-radius: 999px;
filter: drop-shadow(0 0 6px white);
animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
content: '';
position: absolute;
top: calc(50% - 1px);
right: 0;
height: 2px;
background: linear-gradient(-45deg, white, white, rgba(0, 0, 255, 0));
transform: translateX(50%) rotateZ(45deg);
border-radius: 100%;
animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
content: '';
position: absolute;
top: calc(50% - 1px);
right: 0;
height: 2px;
background: linear-gradient(-45deg, rgba(0, 0, 255, 0), white, rgba(0, 0, 255, 0));
transform: translateX(50%) rotateZ(45deg);
border-radius: 100%;
animation: shining 3000ms ease-in-out infinite;
transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
top: calc(50% - -46px);
left: calc(50% - 42px);
animation-delay: 3670ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
animation-delay: 3670ms;
}
.shooting_star:nth-child(2) {
top: calc(50% - -114px);
left: calc(50% - 119px);
animation-delay: 4714ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
animation-delay: 4714ms;
}
.shooting_star:nth-child(3) {
top: calc(50% - -56px);
left: calc(50% - 142px);
animation-delay: 9879ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
animation-delay: 9879ms;
}
.shooting_star:nth-child(4) {
top: calc(50% - -67px);
left: calc(50% - 292px);
animation-delay: 8108ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
animation-delay: 8108ms;
}
.shooting_star:nth-child(5) {
top: calc(50% - -57px);
left: calc(50% - 114px);
animation-delay: 8415ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
animation-delay: 8415ms;
}
.shooting_star:nth-child(6) {
top: calc(50% - 183px);
left: calc(50% - 101px);
animation-delay: 2893ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
animation-delay: 2893ms;
}
.shooting_star:nth-child(7) {
top: calc(50% - -155px);
left: calc(50% - 212px);
animation-delay: 14ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
animation-delay: 14ms;
}
.shooting_star:nth-child(8) {
top: calc(50% - -126px);
left: calc(50% - 192px);
animation-delay: 1953ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
animation-delay: 1953ms;
}
.shooting_star:nth-child(9) {
top: calc(50% - 130px);
left: calc(50% - 93px);
animation-delay: 36ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
animation-delay: 36ms;
}
.shooting_star:nth-child(10) {
top: calc(50% - -31px);
left: calc(50% - 72px);
animation-delay: 6053ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
animation-delay: 6053ms;
}
.shooting_star:nth-child(11) {
top: calc(50% - -133px);
left: calc(50% - 43px);
animation-delay: 8717ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
animation-delay: 8717ms;
}
.shooting_star:nth-child(12) {
top: calc(50% - 149px);
left: calc(50% - 59px);
animation-delay: 9126ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
animation-delay: 9126ms;
}
.shooting_star:nth-child(13) {
top: calc(50% - -16px);
left: calc(50% - 273px);
animation-delay: 5249ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
animation-delay: 5249ms;
}
.shooting_star:nth-child(14) {
top: calc(50% - -50px);
left: calc(50% - 170px);
animation-delay: 37ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
animation-delay: 37ms;
}
.shooting_star:nth-child(15) {
top: calc(50% - -1px);
left: calc(50% - 184px);
animation-delay: 231ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
animation-delay: 231ms;
}
.shooting_star:nth-child(16) {
top: calc(50% - 107px);
left: calc(50% - 239px);
animation-delay: 6533ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
animation-delay: 6533ms;
}
.shooting_star:nth-child(17) {
top: calc(50% - 34px);
left: calc(50% - 198px);
animation-delay: 5615ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
animation-delay: 5615ms;
}
.shooting_star:nth-child(18) {
top: calc(50% - 129px);
left: calc(50% - 164px);
animation-delay: 6781ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
animation-delay: 6781ms;
}
.shooting_star:nth-child(19) {
top: calc(50% - -146px);
left: calc(50% - 28px);
animation-delay: 4314ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
animation-delay: 4314ms;
}
.shooting_star:nth-child(20) {
top: calc(50% - -116px);
left: calc(50% - 79px);
animation-delay: 4039ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
animation-delay: 4039ms;
}

@keyframes tail {
0% {
    width: 0;
}
30% {
    width: 100px;
}
100% {
    width: 0;
}
}
@keyframes shining {
0% {
    width: 0;
}
50% {
    width: 30px;
}
100% {
    width: 0;
}
}
@keyframes shooting {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(300px);
}
}
@keyframes sky {
0% {
    transform: rotate(45deg);
}
100% {
    transform: rotate(405deg);
}
}

.HowWholeWrapper {
display: flex;
}
.HowWholeColumn {
display: flex;
flex-direction: column;
}
.HowWholeColor {
color: #ffb0ab
}
#HowCloseText {
width: 70%;
}
#HowCloseDesign {
width: 30%;
}
.column > div {
font-size: 4vh;
color: white;
background: none;
margin: .1em;
padding: .3em 1em;
border-radius: 3px;
flex: 1;
}

@media only screen and (max-width: 980px) {
  .gallery-cell {
    width: 100% !important; /* full width */
  }

  #letterfromed .intro {
    flex-direction: column;
  }

  #letterfromed img{
    padding-left: 0%;
  }
.HowWholeWrapper {
  display: block;
  padding-bottom: 20px;
}
.stars {
  margin: auto;
  background: none;
  overflow: hidden;
  display: block;
  font-family: 'Anton', sans-serif;
  justify-content: center;
  align-items: center;
}
#HowCloseDesign {
  width: 100%;
  height: 150px;
}
#HowCloseText {
  width: 100%;
}
}

#readmore {
overflow-x: none;
background-color: transparent;
padding-top: 3.5%;
font-family: 'Peddana', serif;
color: black;
margin-right: 5vw;
margin-left: 5vw;


}

#readmore a{
text-decoration: none;
color: black;
}

#readmore .frontpage {
position: relative;
display: grid;
grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 1.5vw;
 margin: 0% 10% 5% 10%;
background-color: transparent;
color: black;
padding-bottom: 20px;

}

#readmore .cround {
border-radius: 10px;
overflow: auto;
max-width: 100%;
margin-top: auto;
margin-bottom: 5%

}

#readmore .fp-cell {
background-color:  #e8e8e8;
padding: 15px;
 border-radius: 10px;



 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


#readmore .fp-cell:hover {

box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

#readmore .lighter-reads-1 {
grid-row: 1 / span 3;
grid-column: 1 / span 2;
padding-left: 3%;
padding-right: 3%;
}

#readmore .fp-item-1 {

display: flex;
align-items: flex-start;
justify-content: flex-start;
min-height: 200px;
height: 100%;
flex-direction: column;
padding-left: 3%;
padding-right: 3%;
padding-top: 3%;
padding-bottom: 3%;


}

#readmore .article {
margin-right: 5%;
}

#readmore .cool{
background-size: cover;

max-width: 100%;
 max-height: 100%;

/* margin-left: 3%;*/


object-fit: contain;


display: block;

}

#readmore .lighter-reads-2 {
grid-row: 1 / span 3;
grid-column: 3 / span 2;
padding-left: 3%;
padding-right: 3%;
}

#readmore .lighter-reads-3 {
grid-row: 1 / span 3;
grid-column: 5 / span 2;
padding-left: 3%;
padding-right: 3%;

}

#readmore h2, h3{
color: white;
padding-bottom: 20px;

}

#readmore h3{
text-align: center;

}



#readmore .recent-reads-1 {
grid-row: 1/ span 3;
grid-column: 1 / span 3;
padding-bottom: 4%;

}

#readmore .recent-reads-2 {
grid-row: 1 / span 3;
grid-column: 4 / span 3;


padding-left: 3%;
padding-right: 3%;

}

#readmore .recent-reads-3{

grid-column: 4 / span 3;
grid-row: 3 / span 1;
padding-left: 3%;
padding-right: 3%;
display: none;

}

#readmore .horizontal-block{
display: flex;
flex-direction: row;

padding-bottom: 3%;
}

#readmore .longer-reads-2 {
  grid-row: 1 / span 3;
  grid-column: 4 / span 3;
}

#readmore .push{
margin-bottom: auto;
}

#readmore .fp-item-1 {

display: flex;
align-items: flex-start;
justify-content: flex-start;
min-height: 200px;
height: 100%;
flex-direction: column;
padding-left: 3%;
padding-right: 3%;
padding-top: 3%;
padding-bottom: 3%;


}

#readmore .uncool{

background-size: cover;
max-width: 100%;
 max-height: 100%;

/* margin-left: 3%;*/
object-fit: contain;
display: block;
}

#readmore .round {
border-radius: 10px;
 overflow: auto;
 max-width: 40%;

 margin-left: auto;


}


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

#rawFish {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: 100vh;
background-color: #cca1ba;
overflow: hidden;
}

#rawFish:before,
#rawFish:after {
content: "";
position: absolute;
left: 50%;
min-width: 300vw;
min-height: 300vw;
background-color: white;
animation-name: rotate;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

#rawFish:before {
bottom: 15vh;
border-radius: 45%;
animation-duration: 10s;
}

#rawFish:after {
bottom: 12vh;
opacity: 0.5;
border-radius: 47%;
animation-duration: 10s;
}

@keyframes rotate {
0% {
  transform: translate(-50%, 0) rotateZ(0deg);
}

50% {
  transform: translate(-50%, -2%) rotateZ(180deg);
}

100% {
  transform: translate(-50%, 0%) rotateZ(360deg);
}
}

#rawFish h1 {
padding-top: 40px;
color: #cca1ba;
z-index: 10;
margin: 0;
font-weight: 300;
line-height: 1.3;
text-align: center;

}
#rawFish h2 {
color: #cca1ba;
z-index: 10;
margin: 0;
font-weight: 300;
line-height: 1.3;
text-align: center;

}

#rawFish p {
color: black;
z-index: 10;
margin: 0;
font-weight: 300;
line-height: 1.3;
text-align: center;
font-family: 'Noto Sans' !important;
}

#rawFish h1 {
font-size: 30px;
}

@media (min-width: 480px) {
#rawFish h1 {
  font-size: 45px;
}
}

#rawFish p {
font-size: 15px;
}

@media (min-width: 480px) {
#rawFish p {
  font-size: 18px;
}
}

#rawFish h2 {
font-size: 14px;
}
@media (min-width: 480px) {
#rawFish h2 {
  font-size: 20px;
}
}

h1.splitting {
color: white;
}
h1.splitting .char {
transition: transform 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear;
transition-delay: calc(20ms * var(--char-index));
}
h1.splitting[data-scroll="out"] .char {
opacity: 0.1;
transform: translateY(0.25em);
}
/* ---------------------------------- */
.page {
max-width: 50em;
margin: auto;
overflow: hidden;
padding-left: 20px;
padding-right: 20px;
}


/** * Base Variables */
/** * Mixins */
/** * Base Settings/Overwrite Normalize */
/* *, *:before, *:after {
box-sizing: border-box;
} */
.post h1 {
margin-top: 0;
margin-bottom: 0.25em;
font-size: 4em;
font-weight: 900;
line-height: 0.9;
color: #9d16ac;
}
.post p {
margin: 0;
color: white;
}
.post a {
padding: 0.5em 1em;
font-size: 0.8em;
color: #9d16ac;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.3em;
border: 1px solid #a9b1b3;
transition: all 0.3s ease-in;
}
.post a:hover, .post a:active, .post a:focus {
color: #fff;
background-color: #a9b1b3;
}
figure {
margin: 0;
}
/** * Text Selection */
::selection {
color: #fff;
background-color: #d0f2ee;
text-shadow: none;
}
/** * Body */
/* body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 100%;
line-height: 1.6;
color: #000;
background-color: #fff;
}
@media (min-width: 20em) {
body {
  font-size: 102.5%;
}
}
@media (min-width: 30em) {
body {
  font-size: 105%;
}
}
@media (min-width: 54em) {
body {
  font-size: 107.5%;
}
}
@media (min-width: 64em) {
body {
  font-size: 110%;
}
}
@media (min-width: 76.5em) {
body {
  font-size: 115%;
}
}
@media (min-width: 114em) {
body {
  font-size: 125%;
}
} */
/** * Components */
.post {
min-height: 100vh;
width: 100%;
padding-bottom: 30px;
/* border: 0.5em solid #fff; */
}
@media (min-width: 54em) {
.post {
  display: flex;
  height: 100vh;
  min-height: 40em;
}
}
.post > *:first-child {
position: relative;
height: 14em;
background-color: #000;
}
@media (min-width: 30em) {
.post > *:first-child {
  height: 18em;
}
}
@media (min-width: 54em) {
.post > *:first-child {
  flex-basis: 50%;
  max-width: 50%;
  height: auto;
}
}
@media (min-width: 76.5em) {
.post > *:first-child {
  flex-basis: 60%;
  max-width: 60%;
}
}
@media (min-width: 54em) {
.post > *:last-child {
  flex-basis: 50%;
  max-width: 50%;
}
}
@media (min-width: 76.5em) {
.post > *:last-child {
  flex-basis: 40%;
  max-width: 40%;
}
}
.post__container {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 2em;
overflow-y: auto;
}
.post__category {
position: relative;
font-weight: 600;
font-size: 0.9em;
text-transform: uppercase;
letter-spacing: 0.3em;
overflow: hidden;
}
.post__category:before {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 3em;
background-color: #000;
animation: slide-in 1s ease-in both 0.5s;
}
.post__content {
padding: 2em 0;
}
@media (min-width: 54em) {
.post__content {
  padding: 0 4em;
}
}
.post__time {
display: inline-block;
margin-bottom: 0.5em;
font-weight: 600;
font-size: 0.8em;
text-transform: uppercase;
letter-spacing: 0.1em;
}
.post__header {
overflow: hidden;
}
.post__header span {
display: inline-block;
animation: slide-up 0.8s ease-in-out both;
}
.post__header span:nth-child(1) {
animation-delay: 0.1s;
}
.post__header span:nth-child(2) {
animation-delay: 0.2s;
}
.post__header span:nth-child(3) {
animation-delay: 0.3s;
}
.post__text {
font-weight: 300;
animation: fade-in 0.8s ease-in-out both 0.5s;
}
.post__link {
text-align: right;
}
/** * Helpers */
.absolute-bg {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
animation: fade-in 0.8s ease-in-out both 1s;
}
/** * Animations */
@keyframes slide-in {
0% {
  transform: translate3d(-100%, 0, 0);
}
100% {
  transform: translate3d(0, 0, 0);
}
}
@keyframes slide-up {
0% {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
90% {
  opacity: 1;
}
100% {
  transform: translate3d(0, 0, 0);
}
}
@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

#joshbabu .text {
width: 70%;
margin: auto;
font-family: 'franklin-gothic-urw';
}

#joshbabu p {
padding-bottom: 30px;
font-size: 20px;
line-height: 30px;
}

#joshbabu h1{
padding-bottom: 30px;
}

#joshbabu .headline {
font-size: 60px;
line-height: 55px;
padding-bottom: 10px;
}

#joshbabu .overline {
font-family: 'franklin-gothic-urw';
padding-bottom: 0%;
padding-top: 20%;

}

.gallery-div {
  background: rgba(255,255,255,0.08);
}

#readmore h2, .gallery-title {
  font-family: 'Noto Sans' !important;
}

.gallery-title {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 10px;
}

.gallery-cell {
  width: 40%; /* full width */
  text-align: center;
  /* center images in cells with flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-cell h2 {
  padding: 1rem 0;
  font-size: 18px;
}
#PowerColor {
  color: #ffdd87;
}

#power a{
  color: #ffdd87;
  text-decoration: none;
  }

  #power a:hover{
  text-decoration:underline;
  }


  #power{
  width: 70%;
  margin: auto;
  font-family: 'minion-pro';
  background-color: #050524;
  }

  #power p {
  padding-bottom: 30px ;
  font-size: 20px;
  line-height: 30px;
  }

  #power .media-embed {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  }

  #power h1{
  padding-bottom: 30px;
  text-shadow:1px 1px 10px #ffdd87;
  }

  #power .headline {
  font-size: 60px;
  line-height: 55px;
  padding-bottom: 10px;
  }

  #power .overline {
  font-family: 'franklin-gothic-urw';
  padding-bottom: 0%;
  padding-top: 20%;

  }

  #power .caption {
  text-align: right;
  font-family: 'franklin-gothic-urw';
  font-size: 15px;
  }

  #power b {
    font-weight: normal;
    text-shadow:1px 1px 10px #ffdd87;
  }

  .powerBackground {
    background-color: #050524;
  }


  #remembrance a{
    color: #9d16ac;
    text-decoration: none;
    }
    
    #remembrance a:hover{
    text-decoration:underline;
    }
    
    
    #remembrance .text{
    width: 70%;
    margin: auto;
    font-family: 'minion-pro';
    }
    
    #remembrance p {
    padding-bottom: 30px ;
    font-size: 20px;
    line-height: 30px;
    }
    
    #remembrance .media-embed {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    }
    
    #remembrance h1{
    padding-bottom: 30px;
    }
    
    #remembrance .headline {
    font-size: 60px;
    line-height: 55px;
    padding-bottom: 10px;
    }
    
    #remembrance .overline {
    font-family: 'franklin-gothic-urw';
    padding-bottom: 0%;
    padding-top: 20%;
    
    }

    
    #remembrance .caption {
    text-align: right;
    font-family: 'franklin-gothic-urw';
    font-size: 15px;
    }

    #cooleffect{
      height: 1vh;
    }

    #remembrance #notes p{
      font-size: 18px;
      line-height: 25px;
    }

    

    /* Explanation in JS tab */

/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

body {
	margin: 0px;
}

#remembrance #container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#remembrance #caption1, #caption2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 80pt;
	text-align: center;
  color: white;
	user-select: none;
}

.star0 {
  height: 1px;
  width: 1px;
  opacity: 1;
  position: absolute;
}

.star1 {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.star2 {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.star3 {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

